{% extends 'base.html' %}
{% block title %}Password Change successful{% endblock title %}
{% block content %}
<h1>Password changed successfully</h1>
<p>
    your password has changed
</p>
{% endblock content %}