{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
<h1>Password Change</h1>
<p>Please enter your old password</p>
{% block content %}
   <h2>Sign Up</h2>
   <form method="post">
       {% csrf_token %}
       {{form.as_p}}
       <button class='btn btn-success' type="submit">Change my password</button>
   </form>
{% endblock content %}
