{% extends 'base.html' %}
{% block title %}password reset completed{% endblock title %}
{% block content %}
<h1>Password reset completed</h1>
<p>
    Now you can Log In <a href="{% url 'login' %}">Log In Page</a>
</p>
{% endblock content %}