{% extends 'base.html' %}
{% block title %}Email sent{% endblock title %}
{% block content %}
<h1>check your inbox.</h1>
<p>
    Instructions have been sent to your email successfully
</p>
{% endblock content %}