{% extends 'base.html' %}
{% block title %}Forgot your password{% endblock title %}
{% block content %}
    <h1>Forgot your password</h1>
    <p>Enter your email address, An email will be sent to you for instructions</p>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="send me instructions" class="btn btn-success">
      
    </form>
{% endblock content %}
